doctype html

mixin message(name)
  .help-block(ng-messages="form['#{name}' + $index].$error",ng-show="form['#{name}' + $index].$touched")
    .div(ng-messages-include="/templates/shared/messages.html")
    
mixin formvalid(name)
  .form-group(ng-class="{ 'has-error': form['#{name}' + $index].$touched && form['#{name}' + $index].$invalid }")
    block
    
mixin message_(name)
    .help-block(ng-messages="form.#{name}.$error",ng-show="form.#{name}.$touched")
      .div(ng-messages-include="/templates/shared/messages.html")
        
mixin formvalid_(name)
  .form-group(ng-class="{ 'has-error':form.#{name}.$touched && form.#{name}.$invalid }")
    block

html(ng-app="medicalWeb")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description" content="PT_2")
    meta(name="author" content="#{autor}")
    link(href="/css/bootstrap.min.css",rel="stylesheet")
    link(href="/css/font-awesome.min.css",rel="stylesheet")
    link(href="/assets/css/style.css",rel="stylesheet")
    link(href="/assets/css/autocomplete.css",rel="stylesheet")
    link(href="/css/angular-material.min.css",rel="stylesheet")
    link(href="/css/loading-bar.css",rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(rel="shortcut icon",href="#{ico}")
    block head
  body
    header(ng-controller="NavBarController as navCtrl")
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .collapse.navbar-collapse.navbar-ex1-collapse
            a.navbar-brand(href='#inicio')
              img(src='/assets/img/logo.png', style='max-width: 180px;position: relative;top: -60px;')
            ul.nav.navbar-nav.navbar-right(ng-if="!navCtrl.logged")
                li
                  a(href='#inicio')  Inicio
                li
                  a(href='#caracteristicas') Caracteristicas
                li
                  a(href='#sistemas') Sistemas
                li
                  a(href='#price-sec') Precios
                li
                  a(href='#/registro') Subscripcion
            ul.nav.navbar-nav.navbar-left(ng-if="navCtrl.logged", ng-repeat="modulo in navCtrl.modulos")
              li
                a(href="", ng-href='{{modulo.path}}')  {{modulo.text}}
            
            ul.nav.navbar-nav.navbar-right(ng-if="navCtrl.logged")
              li
                a(href='#/miPerfil',class="dropdown-toggle", data-toggle="dropdown" ,role="button", aria-haspopup="true" ,aria-expanded="false")
                  i.fa.fa-user.fa-fw
                  | Mi Perfil
              li
                a(href='' ng-click="navCtrl.logout()",class="dropdown-toggle", data-toggle="dropdown" ,role="button", aria-haspopup="true" ,aria-expanded="false")
                  i.fa.fa-sign-out.fa-fw
                  | Cerrar Sesion
                
    div(ng-view)
    //block content
    .container
      .row
        .col-md-12
          #social-icon
            a(href='#{facebook}')
              i.fa.fa-facebook.fa-1x
    #footer.for-full-back
      | #{year} #{url} | #{autor}
    script(src='/assets/plugins/jquery-1.10.2.js')
    script(src='/js/angular.min.js')
    script(src='/js/angular-messages.min.js')
    script(src='/js/angular-route.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/assets/plugins/jquery.parallax-1.1.3.js')
    script(src='/js/angular-animate.min.js')
    script(src='/js/angular-aria.min.js')
    script(src='/js/angular-material.min.js')
    script(src='/js/loading-bar.min.js')
    
    script(src='/assets/js/custom.js')
    script(src='/js/app.js')    
    script(src='/js/app.constants.js')
    script(src="/js/common.directives.js")
    script(src="/js/auth.services.js")
    script(src="/js/cps.service.js")
    script(src="/js/autocomplete.js")
    script(src="/js/home.controller.js")
    script(src='/js/registro.controller.js')
    script(src='/js/paciente.controller.js')
    script(src='/js/paciente.services.js')
    script(src='/js/pacientes.controller.js')
    script(src='/js/home.services.js')
    script(src='/js/registro.services.js')
    script(src='/js/inventario.controller.js')
    script(src='/js/inventario.services.js')
    script(src="/js/registroClinica.controller.js")
    script(src="/js/entidades.controller.js")
    script(src="/js/entidades.services.js")
    script(src='/js/solicitud.controller.js')
    script(src='/js/doctor.controller.js')
    script(src='/js/doctores.controller.js')
    script(src='/js/doctor.services.js')
    script(src='/js/farmacologo.controller.js')
    script(src='/js/enfermero.controller.js')
    script(src='/js/solicitud.services.js')
    script(src='/js/consultas.controller.js')
    script(src='/js/receta.controller.js')
    script(src='/js/recetas.controller.js')
    script(src='/js/entrega.controller.js')
    script(src='/js/modal.services.js')
    script(src='/js/miperfil.controller.js')
    script(src='/js/laboratorista.controller.js')
    script(src='/js/analisis.controller.js')
    script(src='/js/laboratorio.services.js')
    script(src='/js/resultados.controller.js')
    script(src='/js/detalleentidad.controller.js')
    script(src="/js/navbar.controller.js")



    script(src="/js/app.routes.js")
    


    block scripts
